# concurrent.futures backport for Python < 3.2
futures
dnspython
# Fixed xmpppy version
git+https://github.com/ArchipelProject/xmpppy
multiset
sortedcontainers
sqlalchemy
requests
cachecontrol[filecache] >=0.12.6
pyotp <2.4.0
numpy
scikit-learn[alldeps]
sympy
pint
terminaltables
beautifulsoup4 >=4.0.0
